@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

html {
  font-size: 16px;
}

body {
  font-family: Montserrat;
  line-height: 1.5rem;
}

/*Header section - includes logo and NAV*/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  font-size: 1.25rem;
  position: fixed;
  z-index: 5;
  background-color: white;
  border-bottom: 0.75px inset darkgray;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-weight: 500;
}

.word2 {
  color: darkgray;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}

/*hover styles nav links in header and the links in footer*/
a:hover, #legal a:hover {
  border-bottom: 1px solid black;
}

/*Jumbotron - includes banner img and CTA*/
.banner {
  background-color: lightgray;
  display: flex;
  position: relative;
  top: 4rem;
}

.banner-left {
  width: 60%;
}

main {
  position: relative;
  top: 4rem;
}

/*.media-container and .media effects banner, information and thesis img and video*/
.media-container {
  min-width: 60%;
  height: auto;
  padding: 2rem 1.25rem;
}

.media {
  width: 100%;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
}

.cta-txt {
  margin-bottom: 1rem;
}

.title {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 3rem;
}

.btn {
  text-align: center;
  background-color: black;
  padding: 0.5rem;
  width: 80%;
}

.btn a {
  color: white;
  text-decoration: none;
  width: 100%;
}

.btn a:hover {
  border-bottom: 2px solid white;
}

/*INFORMATION SECTION*//*********/

section.information {
  display: flex;
}

.media-quote {
  max-width: 60%;
  padding: ;
}

.quote {
  margin: 2rem 1.5rem;
}

.quote h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

#quote-txt {
  margin: 1.5rem 0;
}

/*INFORMATION ARTICLES*/
/*article css styles articles in thesis section*/
.articles-40 {
  width: 40%;
  border-left: 2px solid lightgray;
}

article {
  display: flex;
  align-items: center;
  border-bottom: 2px solid lightgray;
  padding: 1rem;
  transition: all 800ms ease-out;
}

article:hover {
  background-color: lightgray;
  box-shadow: -7px 5px 5px darkgray;
  -webkit-box-shadow: -7px 5px 5px darkgray;
  -moz-box-shadow: -7px 5px 5px darkgray;
}

#article-top {
  margin-top: 2rem;
}

article .article-txt {
  width: 65%;
  padding-left: 1rem;
}

.article-img-contain {
  width: 35%;
  height: auto;
}

.article-img {
  width: 100%;
  display: block;
}

article h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

article p {
  margin: .5rem 0;
}

article a {
  text-decoration: none;
  color: mediumblue;
}

/*COURSES SECTION*/

section.courses {
  background-color: lightgray;
}

/*section-header styles header for courses and thesis exhibition*/
h1#section-header {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.course-figures {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 4.5rem;
  justify-content: space-around;
}

.course-figures figure {
  background-color: white;
  width: 30%;
  padding-bottom: 1.5rem;

}

figure#top-row {
  margin-bottom: 2rem;
}

figure .fig-img-container {
  width: 100%;
  height: auto;
}

figure img {
  width: 100%;
  height: auto;
  display: block;
}

figcaption {
  padding: 1rem;
}

figure h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.courses-txt {
  margin: 1rem 0;
}

/*THESIS EXHIBIT SECTION*/
.thesis {
  margin-top: 2rem;
}

#video-container {
  padding: 0;
  margin-left: 1.5rem;
}

/*styling for articles received from information articles*/
#thesis-articles {
  border: none;
}

#thesis-articles article {
  border: none;
  margin-left: 1.5rem;
}

/*FOOTER SECTION*/
footer {
  height: 4rem;
  padding: 1rem 1.5rem;
  border-top: 2px solid lightgrey;
}

#legal {
  float: right;
}

#legal a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}
