html {
  font-size: 16px;
  font-family: sans-serif;
}

/*Header section - includes logo and NAV*/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  font-size: 1.25rem;
  position: fixed;
  z-index: 5;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.word2 {
  color: darkgray;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #000;
  margin-left: 1rem;
}

/*Jumbotron - includes banner img and CTA*/
.banner {
  background-color: lightgray;
  display: flex;
  position: relative;
  top: 4rem;
}

/*img-container effects information-main.jpg, too*/

main {
  position: relative;
  top: 4rem;
}
.img-container {
  min-width: 60%;
  height: auto;
  padding: 2rem 1.25rem;
}

.main-img {
  width: 100%;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
}

.cta-txt {
  margin-bottom: 1rem;
}

.title {
  font-size: 3.25rem;
}

.btn {
  text-align: center;
  background-color: black;
  padding: 0.5rem;
  width: 80%;
}

.btn a {
  color: white;
  text-decoration: none;
}

/*INFORMATION SECTION*//*********/

section.information {
  display: flex;
}

.info-pic-quote {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.quote {
  margin-top: 2rem;
}

.quote h2 {
  font-size: 3rem;
  font-weight: bold;
}

#quote-txt {
  margin: 1.5rem 0;
}

/*INFORMATION ARTICLES*/

.articles {
  width: 40%;
  border-left: 2px solid lightgray;
}

article {
  display: flex;
  align-items: center;
  border-bottom: 2px solid lightgray;
  padding: 1rem;
}

#article-top {
  padding-top: 2rem;
}

article .article-txt {
  width: 65%;
  padding-left: 1rem;
}

.article-img-contain {
  width: 35%;
  height: auto;
}

.article-img {
  width: 100%;
  display: block;
}

article h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

article p {
  margin: .5rem 0;
}

article a {
  text-decoration: none;
  color: mediumblue;
}

/*COURSES SECTION*/

section.courses {
  background-color: lightgray;
}

.courses h1 {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.course-figures {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 4.5rem;
  justify-content: space-around;
}

.course-figures figure {
  background-color: white;
  width: 30%;
  padding-bottom: 1.5rem;
}

figure#top-row {
  margin-bottom: 2rem;
}

figure .fig-img-container {
  width: 100%;
  height: auto;
}

figure img {
  width: 100%;
  height: auto;
  display: block;
}

figcaption {
  padding: 1rem;
}

figure h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.courses-txt {
  margin: 1rem 0;
}
